/* GOOGLE FONT IMPORT */

@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');


/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* VARIABLES */

:root {

    /* COLOR */

    --CYAN-COLOR: hsl(178, 100%, 50%);
    --ICE-BLUE: hsl(215, 51%, 70%);
    --WHITE: white;

}

body {
    background-color: hsl(217, 54%, 11%);
    font-family: "Outfit", sans-serif;
    color: var(--WHITE);

}

main {
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* NTF CARD PREVIEW */

article {
    width: 300px;
    background-image: linear-gradient(to bottom, hsl(215, 32%, 27%), hsl(216, 50%, 16%));
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}

/* MAIN IMAGE */

.equilibrium-image-container {
    background-color: var(--CYAN-COLOR);
    margin: 15px;
    border-radius: 5px;
    height: 260px;
    position: relative;
}

.equilibrium-image {

    width: 260px;
    height: auto;
    border-radius: 5px;
}

.equilibrium-image:hover {
    
}

.view-icon {
    position: absolute;
    top: 42%;
    left: 43%;
    width: 40px;
    visibility: hidden;
}

.equilibrium-image-container:hover .view-icon {
    visibility: visible;
}



/* PROFILE NICKNAME */

h2 {
    margin: 0 0 15px 0;
    font-size: 1.2rem;
}

.profile-nick-div {
    padding: 0 20px;
}

.profile-nick-div p {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
}


/* PROFILE STATUS */

.profile-status-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
    margin: 15px 15px 15px 0;

}

.profile-status-div {
    display: flex;
}

.profile-status-container p {
    font-size: 13px;
}

.collectible {
    color: var(--CYAN-COLOR);
}

.last-online {
    color: var(--ICE-BLUE);
}

.profile-status-container img {
    margin: 0 5px;
}


/* DIVISION LINE */

hr {
    width: 260px;
    opacity: 0.2;

}

/* MAIN PROFILE */

.profile-div {
    display: flex;
    align-items: center;
    margin: 15px 0 25px 0;
    padding-right: 90px;

}

.profile-picture {
    width: 20px;
    margin: 0 10px;
    border: 1px solid var(--WHITE);
    border-radius: 50%;
}

.profile-div p {
    font-size: 0.8rem;
    color: var(--ICE-BLUE)
}

.jules-account {
    color: var(--WHITE);
}

.hover-cyan:hover {
    color: var(--CYAN-COLOR);
    cursor: pointer;
}

@media (max-width: 430px) {
    body {
        width: 350px;
    }

}



.attribution {
    font-size: 11px;
    text-align: center
}

.attribution a {
    color: hsl(228, 45%, 44%);
}