
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk&display=swap');


/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Hanken Grotesk", sans-serif;
    background-color: #fff;
}

/* MAIN */



section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    
}


/* RESULT */

.result-div {
    background-image: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    color: white;
    width: 280px;
    height: 380px;
    display: grid;
    place-items: center;
    border-radius: 20px;
    position: relative;
    z-index: 1;
    
    
}

.your-result {
    padding: 1.5rem;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
}

.score-div {
    padding: 2rem 3rem;
    background-image: linear-gradient(to bottom, hsla(256, 72%, 46%, 1),  hsla(241, 72%, 46%, 0));
    border-radius: 50%;
    display: grid;
    place-items: center;
}

.my-score {
    font-size: 3rem;
    font-weight: 800;
}

.total-score {
    color: rgba(255, 255, 255, 0.603);
    font-size: 0.8rem;
}

.score-result-div {
    text-align: center;
    width: 200px;
}

.score-result {
    font-size: 1.5rem;
    padding: 2rem 0 0.8rem 0;
    font-weight: 500;
}

.score-percentage {
    padding-bottom: 3rem;
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.658);
}



/* SUMMARY */

.summary-background-div {
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 380px;
    display: grid;
    place-items: center;
    margin-left: -20px;
    padding-left: 20px;
    border-radius: 0 20px 20px 0;
    box-shadow: 10px 10px 50px hsla(226, 100%, 50%, 0.11);
}

.summary-container {
    width: 240px;
    height: 100%;
}

.summary {
    padding: 20px 0 0 0;
    font-size: 1.1rem;
    font-weight: 800;
    color: hsl(224, 30%, 27%);
}


.summary-results {
    display: flex;
    justify-content: space-between;
    width: 230px;
    font-weight: 700;
    padding: 12px;
    border-radius: 8px;
    margin: 15px 0;
    font-size: 0.8rem;
}

.summary-title-div {
    display: flex;
    
}

.summary-title-div p {
    margin-left: 8px;
}

.reaction {
    background-color: hsla(0, 100%, 67%, 0.100);
    color: hsla(0, 100%, 67%, 0.700);
}

.memory {
    background-color: hsla(39, 100%, 56%, 0.100);
    color: hsl(39, 100%, 56%, 0.700)
}

.verbal {
    background-color: hsl(166, 100%, 37%, 0.100);
    color: hsl(166, 100%, 37%, 0.700)
}

.visual {
    background-color: hsl(234, 85%, 45%, 0.100);
    color: hsl(234, 85%, 45%, 0.700);
}

.your-summary {
    color: hsl(224, 30%, 27%)
}

.total-summary {
    color: hsl(224, 30%, 27%, 0.500);
}

.continue-button {
    background-color: hsl(224, 30%, 27%);
    color: white;
    padding: 10px 86px;
    border: none;
    border-radius: 25px;
    margin-top: 5px;
    font-weight: 600;
    
}

.continue-button:hover {
    background-image: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    
    transition: background-image 1s;
}


/* MOBILE VERSION */

@media (max-width: 600px) {
    section {
        display: flex;
        flex-direction: column;
        
        
    }

    .summary-background-div {
        margin-top: -20px;
        border-radius: 0 0 20px 20px;
        width: 280px;
        margin-left: 0;
        
    }

    .summary {
        padding-top: 30px;
    }

    .result-div {
        border-radius: 0 0 20px 20px;
    }


}




.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }